.img-box{
	column-count: 4;
	column-gap:5px;
	width: 90%;
	margin: auto;
}
.image{
	max-width: 100%;
	display: block;
	filter:hue-rotate(900deg);
	transition: 1s;
}
.image:hover{
	filter: hue-rotate(0);
}
.image+.image{
	margin: 5px;
}
h1{
	width: 100%;
	text-align: center;
	border: 7px solid #ed3cf0fe;
	color:#3ccff0fe;
}
body{
	background-color: black;
}
@media all and (max-width:800px){
	.img-box{
		column-count: 2;
	}
}
p{
	color:violet;
}
